{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<head>


  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        
        function Export() {
            $("#tblCustomers").table2excel({
                filename: "Userdetails_by_district.xls"
            });
        }
        </script>
    
</head>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="#">Marketing Staff Available at Kerala</a></li>
                <li class="breadcrumb-item active" aria-current="page">Staff Details</li>
              </ol>
          </nav>
          <h2 class="h4">Complete Staff Details </h2>
  
      </div>
      <div class="table-settings mb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col col-md-6 col-lg-3 col-xl-4">
              
            </div>
          
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group">
                  
                  <button type="submit" class="btn btn-sm btn-outline-primary" id="btnExport" value="Export" onclick="Export()">Export to excel</button>
              </div>
          </div>
       
          </div>
                </div>
            </div>
        </div>
    </div>
 
             
     
  <div class="card card-body shadow-sm table-wrapper table-responsive">
      <table class="table table-hover" id="tblCustomers">
          <thead>
              <tr >
                  <th>Name</th>
                  <th>Photo</th>						
                  <th>District</th>
                  <!-- <th>ID</th> -->
                  <th>Taluk</th>
                  <th>Verification</th>
                 
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              
              {% for item in context %}   
 
              <tr >
                  <td>
                      <a class="fw-bold">

                        {{item.nickname}}
                      </a>
                  </td>
                  <td>
                    <img src="{{item.photoUrl}}" alt="" border=3 height=100 width=100>
                 
                  </td>
                
              
                  <td><span class="fw-bold">   {{item.district}}</span></td>
                  <td><span class="fw-bold">   {{item.taluk}}</span></td>
                  {% if item.verified == True %}
                  <form action="staffs" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="name" name="name" value="{{item.nickname}}">
                    <input type="hidden" id="id_true" name="id_true" value="{{item.id}}">
                  <td><button type="submit" id="Verified" style="color: green" onclick="return confirm('Are you sure to proceed with Not Verified tag?')"> &nbsp;&nbsp; Verified &nbsp;&nbsp;</button></td>
                </form>
                  {% else %}
                  <form action="staffs" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="name" name="name" value="{{item.nickname}}">
                    <input type="hidden" id="id_false" name="id_false" value="{{item.id}}">
                  <td><button type="submit" id="notVerified" style="color: red" onclick="return confirm('Are you sure to proceed with Verify this user?')"> Not Verified</button></td>
                </form>
                  {% endif %}
                
                  </td>

                  <div id="dialog" title="Select date" style="display:none">
              
                        <div class="modal-body" id="wrapper">
                            <form action="search" method="POST">
                                {% csrf_token %}
                                <div class="container">
                   
                                <p> Select date and download the Shop/Service details added by {{item.nickname}} in Excel Format</p>
                                <input type="date" id="date" name="date"  class="form-control">
                                <br><br>
                                <input type="hidden" id="name1" name="name1" value="{{item.nickname}}">
                                <input type="hidden" id="district" name="district" value="{{item.district}}">
                                <input type="hidden" id="state" name="state" value="Kerala">
                                <input type="hidden" id="Marketing_staff_id" name="Marketing_staff_id" value="{{item.id}}">

                                <button type="submit" class="btn btn-sm btn-outline-primary">Search</button>
                                
                        
                              </form>
                        </div>
                
     
                </div>
              </tr>
            {% endfor %}
    
                                  
          </tbody>
      </table>

    
      
  </div><br><br>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
